<a href="https://colab.research.google.com/github/illiyas-sha/Colab-Notebook/blob/main/Diabetes_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing data from kaggle

In [ ]:
 ! pip install -q kaggle

In [ ]:
from google.colab import files

files.upload()

In [ ]:
! mkdir ~/.kaggle

! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
 ! kaggle datasets list

In [ ]:
! kaggle datasets download -d vikasukani/diabetes-data-set

Downloading diabetes-data-set.zip to /content
  0% 0.00/12.1k [00:00<?, ?B/s]
100% 12.1k/12.1k [00:00<00:00, 24.3MB/s]

In [ ]:
ls

diabetes-data-set.zip  kaggle.json  sample_data/

In [ ]:
!unzip diabetes-data-set.zip  && rm diabetes-data-set.zip

Archive:  diabetes-data-set.zip
  inflating: diabetes-dataset.csv

## Loading Data

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/diabetes-dataset.csv')

In [ ]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            2      138             62  ...                     0.127   47        1
1            0       84             82  ...                     0.233   23        0
2            0      145              0  ...                     0.630   31        1
3            0      135             68  ...                     0.365   24        1
4            1      139             62  ...                     0.536   21        0

[5 rows x 9 columns]

In [ ]:
df.shape

(2000, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               2000 non-null   int64
 1   Glucose                   2000 non-null   int64
 2   BloodPressure             2000 non-null   int64
 3   SkinThickness             2000 non-null   int64
 4   Insulin                   2000 non-null   int64
 5   BMI                       2000 non-null   float64
 6   DiabetesPedigreeFunction  2000 non-null   float64
 7   Age                       2000 non-null   int64
 8   Outcome                   2000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 140.8 KB

In [ ]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
print(df.Outcome.value_counts())

0    1316
1     684
Name: Outcome, dtype: int64

In [ ]:
featureList = ['Glucose', 'BloodPressure',	'SkinThickness',	'Insulin',	'BMI']
print(df[featureList].isin({0}).sum())

Glucose           13
BloodPressure     90
SkinThickness    573
Insulin          956
BMI               28
dtype: int64

In [ ]:
# Set "0" to Mean values of perticular columns

for col in featureList:
  df[col] = df[col].replace({ 0 : df[col].mean() })

In [ ]:
# show "0" values count
df[featureList].isin({0}).sum()

Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
dtype: int64

## Feature selection

In [ ]:
# select feature colulmn
feature_columns = df[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age']]

feature_columns.head()

   Glucose  BloodPressure  SkinThickness  ...   BMI  DiabetesPedigreeFunction  Age
0    138.0        62.0000         35.000  ...  33.6                     0.127   47
1     84.0        82.0000         31.000  ...  38.2                     0.233   23
2    145.0        69.1455         20.935  ...  44.2                     0.630   31
3    135.0        68.0000         42.000  ...  42.3                     0.365   24
4    139.0        62.0000         41.000  ...  40.7                     0.536   21

[5 rows x 7 columns]

In [ ]:
# Outcome colummn
outcome_column = df['Outcome']
outcome_column.head()

0    1
1    0
2    1
3    1
4    0
Name: Outcome, dtype: int64

In [ ]:
# import package

from sklearn.model_selection import train_test_split

# split into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(feature_columns, outcome_column, test_size=0.2, random_state=5)

In [ ]:
training_data = X_train

In [ ]:
training_data['outcome'] = y_train.values

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
training_data

      Glucose  BloodPressure  ...  Age  outcome
1176     97.0           76.0  ...   52        1
1128     99.0           58.0  ...   21        0
184     141.0           74.0  ...   40        0
1807     97.0           76.0  ...   52        1
35      103.0           60.0  ...   33        0
...       ...            ...  ...  ...      ...
1142    129.0           74.0  ...   25        0
998     128.0           72.0  ...   27        1
1725     94.0           76.0  ...   23        0
206     196.0           76.0  ...   57        1
867     131.0           66.0  ...   22        1

[1600 rows x 8 columns]

In [ ]:
test_data = X_test

In [ ]:
test_data['outcome'] = y_test.values

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
test_data

      Glucose  BloodPressure  ...  Age  outcome
51      101.0           50.0  ...   26        0
1327    111.0           90.0  ...   29        0
1488     95.0           82.0  ...   43        1
1432    106.0           70.0  ...   52        0
417     144.0           82.0  ...   37        1
...       ...            ...  ...  ...      ...
1251    112.0           75.0  ...   21        0
275     100.0           70.0  ...   25        0
1114    120.0           80.0  ...   41        0
1751    145.0           80.0  ...   40        1
72      126.0           90.0  ...   42        1

[400 rows x 8 columns]

In [ ]:
training_data.to_csv("Training_data.csv")

In [ ]:
test_data.to_csv("Test_data.csv")

In [ ]:
# show train data and shapes

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1600, 7)
(400, 7)
(1600,)
(400,)